@import 'tailwindcss';
/* 1rem = 16px */
@theme {
	/* 
	--breakpoint-xs: 30rem; 480px;
	--breakpoint-sm: 40rem; 640px;
	--breakpoint-md: 48rem; 768px;
	 */

	--breakpoint-ml: 56rem;

	/* 
	--breakpoint-ml: 56rem; 0896;
	--breakpoint-lg: 64rem; 1024;
	--breakpoint-xl: 80rem; 1280;
	--breakpoint-2xl: 96rem;
	 */

	--color-primary-50: #e1e8ef;
	--color-primary-100: #d4dee7;
	--color-primary-200: #b7c7d7;
	--color-primary-300: #99b0c7;
	--color-primary-400: #7c99b6;
	--color-primary-500: #5e82a6;
	--color-primary-600: #4c6b8a;
	--color-primary-700: #3c546c;
	--color-primary-800: #2c3d4f;
	--color-primary-900: #1b2631;
	--color-primary-950: #141c24;

	--color-accent-50: #faf5f0;
	--color-accent-100: #f4ece1;
	--color-accent-200: #e8d6bf;
	--color-accent-300: #ddc2a2;
	--color-accent-400: #d2af84;
	--color-accent-500: #c69963;
	--color-accent-600: #b78343;
	--color-accent-700: #926835;
	--color-accent-800: #6c4d28;
	--color-accent-900: #4b351b;
	--color-accent-950: #382814;
}

@layer components {
	.spinner {
		margin: 3.2rem auto 1.6rem;
		width: 60px;
		aspect-ratio: 1;
		border-radius: 50%;
		border: 8px solid var(--color-primary-900);
		border-right-color: var(--color-primary-200);
		animation: rotate 1s infinite linear;
	}

	.spinner-mini {
		margin: 0;
		width: 20px;
		aspect-ratio: 1;
		border-radius: 50%;
		border: 2px solid var(--color-primary-200);
		border-right-color: transparent;
		animation: rotate 1s infinite linear;
	}

	@keyframes rotate {
		to {
			transform: rotate(1turn);
		}
	}
}

/* For data picker */

.rdp-root {
	/* --rdp-cell-size: 32px !important; */
	--rdp-accent-color: var(--color-accent-500) !important;
	--rdp-background-color: var(--color-accent-600) !important;
	--rdp-range_middle-background-color: var(--color-accent-600) !important;
	--rdp-day-width: 20px !important;
	--rdp-day-height: 20px !important;
	--rdp-day_button-width: 32px !important;
	--rdp-day_button-height: 32px !important;
	--rdp-dropdown-gap: 1.25rem !important;
	--rdp-months-gap: 1rem !important;
	margin: 0 !important;
	/* flex: 1 1 0; */
}
/* .rdp-month_grid {
	gap: 0.2rem;
} */

/* .rdp-day_button {
	margin: 0.2rem !important;
} */

.rdp-month {
	/* width: calc(55% - 1rem) !important; */
	margin-bottom: 1rem;
}
/* .rdp-day {} */
